{% extends 'BrewReview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Account Settings
{% endblock %}

{% block heading_block %}
<div class="jumbotron p-4 text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ user.username }}'s Settings</h1>
    </div>
</div>
{% endblock %}

{% block body_block %}

<style>
    /* Custom CSS */
    .custom-container {
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff; /* Optional: Set background color */
        width: 50%;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-container a {
        margin-bottom: 10px;
        width: 100%;
        transition: background-color 0.3s; /* Add transition effect */
    }

    /* Red button for "Delete" on hover */
    .btn-delete:hover {
        background-color: red;
        border-color: red;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="custom-container">
                <h1 class="display-4">Change your Settings</h1>
                <p class="lead">On this page you can alter some of the details associated with your account using the buttons below.<br>
                You can change your username or password, and also delete your account should you choose to.</p>
                <div class="btn-container">
                    <a href="{% url 'BrewReview:change_username' %}" class="btn btn-primary"><h3>Change your Username</h3></a>
                    <a href="{% url 'auth_password_change' %}" class="btn btn-primary"><h3>Change your Password</h3></a>
                    <a href="#" class="btn btn-primary btn-delete" id="delete-account-btn"><h3>Delete your Account</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteAccountModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Account Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{% url 'BrewReview:delete_account' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('delete-account-btn').addEventListener('click', function(event) {
        event.preventDefault();
        $('#deleteAccountModal').modal('show');
    });
</script>

{% block password_changed_block %}
{% endblock %}
{% endblock %}
