<!DOCTYPE html>
{% load staticfiles %}
<html>


<head>
    <title>
    {% block title_block %}
    {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block header_block %}
</head>
{% endblock %}
<body>

    <div class="titlebar">
        <h1>{% block heading_block %}{% endblock%}
        <a href="/BrewReview/login/">Log in</a>
        <a href="/BrewReview/signup/">Sign Up</a>
        </h1>

        

    </div><br>

    <div class="navbar">
        <a href="{% url 'BrewReview:index' %}">Home</a>
        <a href="{% url 'BrewReview:map' %}">Map</a>
        <a href="{% url 'BrewReview:shops' %}">Shops</a>
        <a href="{% url 'BrewReview:profile' %}">Profile</a>
        
    </div><br>

    {% block body_block %}
    {% endblock %}
</body>
</html>