{% extends 'BrewReview/base.html' %}
{% load staticfiles %}

{% block header_block %}
<script>
    function redirectToNewPage() {
        window.location.href = "{% url 'BrewReview:map' %}";
    }
</script>
{% endblock %}

{% block title_block %}
    Index
{% endblock %}

{% block heading_block %}
<div class="jumbotron p-4 text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Home
        {% if user.is_authenticated %}
         - Welcome {{ user.username }}!
        {% endif %}
        </h1>
    </div>
</div>
{% endblock %}


{% block body_block %}
<div class="container-fluid pb-3">
    <div class="row">
      <!-- Left Half -->
      <div class="col-md-6">
        <div class="custom-container_2 h-100">
          <h1 class="display-2">Welcome to BrewReview</h1>
          <div class="row">
            <div class="col-md-6">
              <img src="/static/images/IndexLogo.png" alt="Image of BrewReview Logo" class="img-fluid">
            </div>
            <div class="col-md-6">
              <img src="/static/images/google-maps-icon.jpg" alt="Image of a map and link to maps page" id="clickable" onclick="redirectToNewPage()" class="img-fluid">
            </div>
          </div>
          <p class="lead">Your one-stop destination for discovering local coffee shops near you. 
            Here you can view local coffee shops on the map, sort through coffee shops on the shops page,
            , add your own review about a coffee shop, or even add your own coffee shop to the website.
          </p>
        </div>
      </div>

<div class="col-md-6">
    <div class="custom-container_2 h-100">
      <h1 class="display-2">Recent Reviews</h1>
      <div class="row">
        {% for review in recent_reviews %}
        <div class="col-md-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ review.title }} by {{ review.user }}</h5>
              <p class="card-text">Shop: {{ review.shop_name }}</p>
              <p class="card-text">Rating: {{ review.rating }}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'BrewReview:show_shop' review.shop_slug %}" class="btn btn-primary">View {{ review.shop_name }}</a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 and not forloop.last %}
          </div><div class="row">
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
