{% extends 'BrewReview/base.html' %}
{% load staticfiles %}


    {% block title_block %}
    Index
    {% endblock %}

    {% block heading_block %}
    Filler Page 
    {% endblock %}


    {% block body_block %}

    <div>
        I've created this page just to follow along with the tango with django tutorial to test the setup worked <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <img src="{% static 'images/download.jpg' %}" alt="Test Picture" />
        <img src="{{ MEDIA_URL }}OIP.jpg" alt="Media test image"/>
    </div>
    {% endblock %}
