{% extends 'BrewReview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Map
{% endblock %}

{% block header_block %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>-->
    <script>
        let map;
        async function initMap() {
            // var options = {
            //     zoom:8,
            //     center:{lat:55.8724, lng:- 4.2900},
            //     mapId: "DEMO_MAP_ID"
            // }
            const {Map} = await google.maps.importLibrary("maps");

            map = new Map(document.getElementById("map"), {
                zoom: 11,
                center: {lat: 55.8724, lng: -4.2900},
                mapId: "DEMO_MAP_ID"
            });
            return map;
        }
    </script>
    <style>
        #map {height: 400px; width:100%;}
    </style>

{% endblock %}

{% block heading_block %}
    Map
{% endblock %}

{% block body_block %}
    {% if shops %}
        {% for coffee_shop in shops %}
            <p hidden id="name">{{ coffee_shop.name }</p>
            <p hidden id="lat">{{ coffee_shop.lat }}</p>
            <p hidden id="lng">{{ coffee_shop.lng}}</p>
                <script>
                    const {AdvancedMarkerElement} = await google.maps.importLibrary("marker");
                    const marker = new AdvancedMarkerElement({
                        map: map,
                        position: { lat:document.getElementById("lat"),lng:document.getElementById("lng")},
                        title: document.getElementById("name")
                    });
                </script>
        {% endfor %}
    {% else %}
        <strong> There are no coffee shops </strong>
    {% endif %}
    <div id="map">
        <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDv5ekhgkSI-hTpzWp8bXYwxrP0D8IBjQ&loading=async&callback=initMap">
        </script>
    </div>
{% endblock %}




