{% extends 'BrewReview/base.html' %}
{% load staticfiles %}

{% block heading_block %}
    <div class="jumbotron p-4 text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Search Results</h1>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <header>
        <div class="container-fluid">
            <form class = 'd-flex' method=POST action="{% url 'BrewReview:searched' %}">

                {% csrf_token %}

                <input class='form-control me-2' type="search" placeholder="Search Shops" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </header>
    <br>

    {% if search %}
    <div class="container-fluid">
        <h1> Search results for : {{ search }}</h1>
    </div>
        <section class="py-5">
            <div class="container-fluid">
                <div class="row">
                    {% for CoffeeShop in shops %}
                    <div class="col-md-3 mb-5">
                        <div class="card h-100">
                            <div class="col-md-xl image-container">
                                {% if CoffeeShop.picture %}
                                    <img src="{{ CoffeeShop.picture.url }}" class="img-fluid" alt="{{ CoffeeShop.name }}">
                                {% else %}
                                    <img src="https://icons.iconarchive.com/icons/iconarchive/fat-sugar-food/256/Drink-Coffee-icon.png" class="img-fluid" alt="{{ shop.name }}">
                                {% endif %}
                            </div>
                            <div class="card-body p4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{CoffeeShop.name}}</h5>
                                    {{CoffeeShop.rating}}
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <a class="btn btn-outline-dark mt-auto" href="{% url 'BrewReview:show_shop' CoffeeShop.slug %}">View Shop</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    
    {% else %}
        <h1> No Search </h1>
    {% endif %}
    
{% endblock %}