{% extends 'BrewReview/base.html' %}
{% load staticfiles %}

{% block body_block %}
    {% if search %}
        <h1> You Searched For {{ search }}</h1>
        <br/>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for CoffeeShop in shops %}
                    <div class="col mb-5">
                        <div class="card h-100">
                        <!--when shops have images {{ shop.image_location_folder.url }}-->
                            <img class="card-imp-top" src="https://icons.iconarchive.com/icons/iconarchive/fat-sugar-food/256/Drink-Coffee-icon.png"
                                alt="..." />
                            <div class="card-body p4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{CoffeeShop.name}}</h5>
                                    {{CoffeeShop.rating}}
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <a class="btn btn-outline-dark mt-auto" href="#">View Shop</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    
    {% else %}
        <h1> No Search </h1>
    {% endif %}
    
{% endblock %}