{% extends 'BrewReview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ shop.name }}
{% endblock %}

{% block heading_block %}
    <div class="jumbotron p-4 text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ shop.name }}</h1>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <!-- Shop Section -->
        <div class="row align-items-start">
            <!-- Picture Section (1/3 width) -->
            <div class="col-md-4">
                {% if shop.picture %}
                    <img src="{{ shop.picture.url }}" class="img-fluid" alt="{{ shop.name }}">
                {% else %}
                    <img src="https://icons.iconarchive.com/icons/iconarchive/fat-sugar-food/256/Drink-Coffee-icon.png" class="img-fluid" alt="{{ shop.name }}">
                {% endif %}
            </div>
            <!-- Text Section (2/3 width) -->
            <div class="col-md-8">
                <!-- Shop Details -->
                <p class="align-top"><strong>Description:</strong> {{ shop.description }}</p>
                <p><strong>Address:</strong> {{ shop.address_line_1 }}, {{ shop.postcode }}, {{ shop.city }}, {{ shop.country }}</p>
                <p><strong>Owner:</strong> {{ shop.owner_id.username }}</p>
                <p><strong>Rating:</strong> {{ shop.rating }}/5</p>
                <p><strong>Price:</strong> {{ shop.price }}/5</p>
                <p><strong>Serves Food:</strong> {% if shop.serves_food %} Yes {% else %} No {% endif %}</p>
                
                <form action="#" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">
                        {% if is_favorite %} Unfavorite {% else %} Add to Favorites {% endif %}
                    </button>
                </form>
            </div>
        </div>

        <!-- Reviews Section -->
        <div class="container-fluid mt-5">
            <h2>Reviews</h2>
            {% if reviews %}
                <div class="row">
                    {% for review in reviews %}
                        <div class="col-md-3 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">{{ review.title }} by {{ review.user }}</h5>
                                    <p class="card-text">{{ review.review }}</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">{{ review.rating }}/5</p>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                            </div><div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p><strong>There are no reviews for this shop yet</strong></p>
            {% endif %}
        </div>
        <div class="container-fluid p-3">
            <a class="btn btn-primary" href="{% url 'BrewReview:add_review' shop.slug %}" role="button">Add Review</a>
        </div>
    </div>
{% endblock %}