{% extends 'BrewReview/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ shop.name }}
{% endblock %}

{% block heading_block %}
<div class="jumbotron p-4 text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{shop.name}}</h1>
    </div>
</div>
{% endblock %}

{% block body_block %}
    <div>
        {% if shop %}
            <h1> Reviews for {{shop.name}}:</h1>
            {% if reviews %}
                {% for r in reviews %}
                    <p>{{r.review}}</p>
                {% endfor %}
            {% else %}
                <strong>There are no reviews for this shop yet</strong>
            {% endif %}
        {% else %}
            No such shop exists.
        {% endif %}
        <a href="{% url 'BrewReview:add_review' shop.slug %}">Add review</a><br />
    </div>
{% endblock %}