{% extends 'BrewReview/base.html' %}
{% load staticfiles %}


{% block heading_block %}
<div class="jumbotron p-4 text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Shops</h1>
    </div>
</div>
{% endblock %}

{% block body_block %}
    <header>
        <div class="container-fluid">
            <h1> Find Shops </h1>
                <form class = 'd-flex' method=POST action="{% url 'BrewReview:searched' %}">

                    {% csrf_token %}

                    <input class='form-control me-2' type="search" placeholder="Search Shops" aria-label="Search" name="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
        </div>
    </header>

    <div class="container-fluid">
        Filter By :
    <form action="{% url 'BrewReview:shops' %}" method ="GET">
        <input type="checkbox" id="filter_checkbox" name="filter" {% if filter_param %}checked{% endif %}>
        <label for="filter_checkbox">Serves food</label>
        <button type="submit">Apply Filter</button>
    </form>
        <div></div>
        Sort By :
    </div>


    <section class="py-5">
        <div class="container-fluid">

            <div class="row">
                {% for shop in shops %}
                <div class="col-md-3 mb-5">
                    <div class="card h-100">
                        <div class="col-md-xl image-container">
                            {% if shop.picture %}
                                <img src="{{ shop.picture.url }}" class="img-fluid" alt="{{ shop.name }}">
                            {% else %}
                                <img src="https://icons.iconarchive.com/icons/iconarchive/fat-sugar-food/256/Drink-Coffee-icon.png" class="img-fluid" alt="{{ shop.name }}">
                            {% endif %}
                        </div>
                        <div class="card-body p4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ shop.name }}</h5>
                                {{shop.rating}}/5
                                <br>
                                {% if shop.price == 3 %}
                                    ££
                                {% elif shop.price > 2 %}
                                    £££
                                {% elif shop.price < 3 %}
                                    £
                                {% endif %}

                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{% url 'BrewReview:show_shop' shop.slug %}">View Shop</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </div><div class="row">
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

<style>
    .image-container {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    .image-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        object-fit: contain;
    }
</style>

{% endblock %}